<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servlet_demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>indexredirect.html</welcome-file>
  </welcome-file-list>
  
<!--    <servlet>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>com.Filter.ConfigurationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/ConfigurationServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <filter>
<filter-name>fi</filter-name>
<filter-class>com.Filter.ConfigurationFilter</filter-class>

<init-param>
<param-name>city</param-name>
<param-value>rajkot</param-value>
</init-param>


</filter>
 <filter-mapping>
<filter-name>fi</filter-name>
<url-pattern>/ConfigurationServlet</url-pattern>
</filter-mapping> -->
  
  <servlet>
  <servlet-name>configdemo</servlet-name>
  <servlet-class>com.ConfigObject.ConfigDemo</servlet-class>
  
  <init-param>
  <param-name>firstname</param-name>
  <param-value>rahul</param-value>
  </init-param>


</servlet>
  
  <servlet-mapping>
  <servlet-name>configdemo</servlet-name>
  <url-pattern>/ConfigDemo</url-pattern>
  </servlet-mapping>
  
 <context-param>  
<param-name>firstname</param-name>  
<param-value>akshay</param-value>  
</context-param>











</web-app>